<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NumberWang</title>
</head>
<body>
    <h1>Welcome to the NumberWang!</h1>
    <p>Last Player: <span id="lastPlayer"></span></p>
    <p>Best Player: <span id="bestPlayer"></span></p>
    <label for="player">Your name: </label>
    <input type="text" name="player" id="player">
    <br>
    <label for="number">Your guess: </label>
    <input type="number" name="number" id="number" min="0">
    <br>
    <button id="submit">Submit Number</button>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="client.js"></script>
</body>
</html>